<!DOCTYPE html>
<html ng-app="App">
<script src="js/angular.min.js"></script>
<script>
angular.module("App",[]).controller('ctrl',function($scope){
$scope.name='';
$scope.lname='';
$scope.fullname=function(){
return $scope.name + " " + $scope.lname;
}});
</script>
<body>

<div  ng-controller="ctrl">
<ul>
 <li ng-repeat="a in fullname">
<button ng-click="remove($index)">Remove</button></ul>
<div>
<input type="text" ng-model="input">
<button type="submit"ng-click="add">Add</button></div>
<p>Input something in the input box:</p>
<p>Name : <input type="text"  ng-model="name"  placeholder="Enter name here"><br>
LName:<input type="text"  ng-model="lname"  placeholder="Enter name here"><br></p>
<h1>Hello {{fullname()}}</h1>
<button ng-click="add()">addme</button>

</div>

</body>
</html>